* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* header section */
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../style/resources/Banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
    height: 500px;
    margin: 50px 140px 120px;
    border-radius: 16px;

}

.banner-title {
    color: white;
    text-align: center;
    padding: 177px 0px 200px;
}

.wish {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.Celebration {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
}

/* main section */

/* section 1 */

#off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#holiday {
    color: #F00;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 48px;
}

#categories {
    color: #070211;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#sec1-img {
    position: relative;
    left: 20%;
    margin-top: 48px;
}


/* section 2 */
.section2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.932), rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.212), rgba(0, 0, 0, 0.822)), url(../style/resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
    height: 500px;
    margin: 50px 140px 120px;
    border-radius: 16px;
    position: relative;
}

#group70 {
    height: 300px;
    position: absolute;
    top: 20%;
    left: 73%;



}

#sec2welcome {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    display: flex;
    letter-spacing: 7.04px;
    padding-left: 126px;
    padding-top: 126px;
}

#sec2title {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-left: 126px;
    display: flex;
}

#sec2join {
    background-color: transparent;
    color: #FFF;
    text-align: center;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 126px;
    text-decoration: none;
    display: flex;
    padding-top: 24px;
}

/* section 3 */

.section3 {
    background-color: rgb(230, 230, 225);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    margin: 50px 140px 120px;

}

#sec3div {
    text-align: center;
    padding: 120px 380px;


}

.sec3text {
    color: #F00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.sec3pag {
    margin: 30px 0px 5px 0px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sec3join {
    background-color: #F00;
    color: #FFF;
    padding: 10px;
    margin: 48px 0px 110px 0px;
    border-radius: 5px;
    border: 0;
}

/* section 4 */
.section4 {
    background-color: rgb(252, 252, 252);
    background-position: center;
    background-size: cover;
    height: 500px;
    margin: 50px 140px 120px;
    position: relative;


}

#parentdiv4 {
    display: flex;
    align-items: center;

}

#sec4h {
    color: #F00;
    text-align: left;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 20px 0px 16px 0px;
}

#comming {
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin: 0px 0px 16px 0px;
}

#sec4p1 {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-right: 20px;
}

#sec4part2 {
    height: 200px;
    border-h
}

#sec4part3 {
    position: absolute;
    top: 5%;
    left: 88%;
}

#h2024 {
    color: #F00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#sec4p2 {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-right: 20px;
}

/* section 5 */

.section5 {

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    margin: 50px 140px 120px;
    position: relative;
}

#sectitle1 {
    color: #F00;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sectitle2 {
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

#sec5pag {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}


#product-img1 {
    display: flex;
    height: 400px;
}

#product-img2 {
    display: flex;
    height: 400px;
}

#img1 {
    padding: 15px 24px 24px 0px;
    border-radius: 16px;
}

#img2 {
    padding: 15px 24px 24px 0px;
    border-radius: 16px;
}

#img3 {
    padding: 15px 0px 24px 0px;
    border-radius: 16px;
}

#img4 {
    padding: 15px 24px 24px 0px;
    border-radius: 16px;
}

#img5 {
    padding: 15px 24px 24px 0px;
    border-radius: 16px;
}

#img6 {
    padding: 15px 0px 24px 0px;
    border-radius: 16px;
}

/* section 6 */

.section6{
    background-color: rgb(230, 230, 225);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    margin: 500px 140px 120px;
    position: relative;
    
}

.section6{
    text-align: center;
}

#sec6pic{
padding-top: 80px;
}

#sec6h{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

#sec6p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

#sec6i{

border-radius: 50px;
background:white;
width: 648px;
height: 65px;
border: 0;

}
#sec6b{
    border-radius: 0px 50px 50px 0px;
background: #F00;
border: 0;
width: 250px;
height: 65px;
position: absolute;
left: 57%;
top: 70.7%;

}

#sec6bt{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    padding: 24px ;
    
}



/* footer section */
#footer{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    position: relative;
    
}



.footer-column {
    background: #070211;
    display: flex;
    padding: 120px 140px;
    justify-content: space-between;
}

.footer-paragraph {
    color: #FFF;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    

}

.social-links {
    background-color: #070211;
    display: flex;
    padding: 50px 20px;
    justify-content: space-evenly;



} 